
.app-container {
    display: flex;
    flex-direction: row;
    max-height: 750px;
}

.map-container {
    display: flex;
    flex-direction: column;
}

.fetched-events-container {
    display: flex;
    flex-direction: column;
    flex-flow: column wrap;
}